* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #EFE6D6;
    color: #3D3D3D;
}

nav {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color:black;
}

.nav-center a {
    margin: 0 5px;
}

.bold {
    font-weight: bold;
}

nav a:hover {
    opacity: 50%;
    transition: 0.8s;
}

/* MAIN-CONTENTS */

.main-contents {
    margin: 80px 150px;
}

.main-contents h1 {
    font-size: 128px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.content img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.content-detail {
    margin-left: 20px;
    width: 50%;
}

.content-detail h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.content-detail p {
    margin-bottom: 10px;
}

.content-detail button {
    border: none;
    padding: 10px 20px;
    background-color: #A98C6A;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    nav {
        margin: 40px 30px;
    }
    .main-contents {
        margin: 0 30px;
    }
    .content {
        width: 100%;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .content img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .content-detail {
        width: 100%;
    }
}